@font-face {
	font-family: 'Hillel CLM';
	src: url(../../assets/fonts/HillelCLM-Medium.woff2) format('woff2'),
	url(../../assets/fonts/HillelCLM-Medium.woff) format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}