@font-face {
	font-family: 'Miri';
	src: url(../../assets/fonts/Miri.woff2) format('woff2'),
	url(../../assets/fonts/Miri.woff) format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}